body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
#root {
  width: 375px; /* 너비 */
  height: 100vh; /* 화면 높이에 맞게 설정 */
  margin: auto; /* 화면 중앙에 정렬 */
  border: 1px solid #ccc; /* 경계선 (선택 사항) */
  overflow: hidden; /* 내용이 크기를 벗어나지 않도록 숨김 */
  display: flex; /* 플렉스 박스 사용 */
  justify-content: center; /* 수평 중앙 정렬 */
  align-items: center; /* 수직 중앙 정렬 */
  background-color: #0b1b63; /* 배경색 (선택 사항) */
}

@media (max-width: 375px) {
  #root {
    width: 100%;
    height: 100vh; /* 화면 높이에 맞게 유지 */
  }
}

